<div class="wrapper">

    <header   class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>Appartoo</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Appart</b>oo</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul  class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->

                                    <!-- Notifications: style can be found in dropdown.less -->

                                    <!-- Tasks: style can be found in dropdown.less -->

                                    <!-- User Account: style can be found in dropdown.less -->
                                    <li class="dropdown user user-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="../../assets/Marsupilami.jpg" class="user-image" alt="User Image">
                                         <span class="hidden-xs"></span>
                                        </a>

                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a routerLink="/login" routerLinkActive="active"  ><i class="fa fa-power-off"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside    class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">


                    <p style="color: white">Bonjour <b></b></p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>

            <!-- search form -->

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">

                <li><a routerLink="/profile/{{storage}}" routerLinkActive="active"  ><i class="fa fa-user"></i> <span>Profil</span></a></li>
                <li><a routerLink="/amis" routerLinkActive="active" ><i class="fa fa-child"></i> <span>Mes amis</span></a></li>
                
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
     
        <!-- Main content -->
     


        <section class="content">

            <router-outlet></router-outlet>
          </section>


          
        
        <!-- /.content -->
    </div>

